.google-btn{
    background-color: white !important;
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
    border: 2px solid rgba(0, 0, 0, 0.326)
    
}