/* paginate container */
.custom-paginate {
  list-style: none;
}

/* pagination link (a) */
.pagination-tag-anchor {
  width: 30px;
  height: 30px;
  display: inline-block;
  text-align: center;
  line-height: 30px;
  transition: 0.5s;
}

.pagination-tag-anchor:hover{
    background-color: rgba(0, 0, 0, 0.1);
}