@media (max-width: 768px) {
  .custom-nav {
    flex-direction: row !important;
    justify-content: space-around;
  }
}

/* profile list */
.profileDetails{
  top: 60px;
  right: 0px;
  width: 250px;
  backdrop-filter: blur(20px);
  padding: 10px;
  background-color: rgba(250, 235, 215, 0.203);
  z-index: 1;
 -webkit-backdrop-filter: blur(50px);
}

.profileDetails::after{
  content: '';
  position: absolute;
  top: -30px;
  /* right: 0; */
  border: 15px solid transparent;
  border-bottom-color: rgb(250, 235, 215);
}

.profileDetails ul{
  list-style: none;
}


.profileDetails p{
  margin: 0;
  color: gray;
}


.profileDetails .nav-link{
  margin: 15px 0;
}


/* log Out button */
.profileDetails .log-out:hover{
  background-color: rgb(198, 25, 25);
  padding: 0 10px;
}

@media (max-width : 770px) {
  .profileDetails{
    left: -100px;
  }
  .profileDetails::after{
  left: 100px;
  }
}

@media (min-width : 770px) {
  .profileDetails::after{
  right: 0;
  }
}